flow/Thermostat.json
[
    {
        "id": "47e02b3278e24937",
        "type": "function",
        "z": "564bee57072d1e51",
        "name": "Parse",
        "func": "let current = {\n    payload : msg.payload.d.temperature\n}\nmsg.payload = msg.payload.d.target;\nreturn [msg, current];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 340,
        "wires": [
            [
                "cf76d755451f19c2"
            ],
            [
                "55e346563beafe8e"
            ]
        ]
    },
    {
        "id": "fa91568bdda49290",
        "type": "function",
        "z": "564bee57072d1e51",
        "name": "Automate",
        "func": "let evt1 = { d : {}};\n\nif (msg.payload.d.target > msg.payload.d.temperature) {\n    evt1.d.valve = 'on';\n} else {\n    evt1.d.valve = 'off';  \n}\nreturn {payload : evt1};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 240,
        "wires": [
            [
                "ca8e68ad4e467916"
            ]
        ]
    },
    {
        "id": "65b79b9a782176dd",
        "type": "ui-switch",
        "z": "564bee57072d1e51",
        "name": "",
        "label": "Valve",
        "group": "4fbe822ae10e2cd6",
        "order": 2,
        "width": "1",
        "height": "1",
        "passthru": false,
        "decouple": true,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 530,
        "y": 160,
        "wires": [
            [
                "e42414333e37f64b"
            ]
        ]
    },
    {
        "id": "cf76d755451f19c2",
        "type": "ui-slider",
        "z": "564bee57072d1e51",
        "group": "4fbe822ae10e2cd6",
        "name": "",
        "label": "Target",
        "tooltip": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "always",
        "showTicks": "false",
        "min": 0,
        "max": "50",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 530,
        "y": 320,
        "wires": [
            [
                "eb508a87713e70f3"
            ]
        ]
    },
    {
        "id": "55e346563beafe8e",
        "type": "ui-gauge",
        "z": "564bee57072d1e51",
        "name": "",
        "group": "4fbe822ae10e2cd6",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": "3",
        "height": "3",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Current",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "°C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "10",
                "color": "#02f707",
                "text": "",
                "textType": "label"
            },
            {
                "from": "25",
                "color": "#e8ff3d",
                "text": "",
                "textType": "label"
            },
            {
                "from": "32",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "10",
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 540,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "fe3f0ed9ef5fa7fa",
        "type": "io7 in",
        "z": "564bee57072d1e51",
        "name": "",
        "deviceId": "valve1",
        "authentication": "798f13d57b18556b",
        "evt": "+",
        "fmt": "json",
        "qos": "0",
        "allDevices": false,
        "allEvents": true,
        "allFormats": false,
        "x": 190,
        "y": 160,
        "wires": [
            [
                "4eb15b446cdfb80d"
            ]
        ]
    },
    {
        "id": "ca8e68ad4e467916",
        "type": "io7 out",
        "z": "564bee57072d1e51",
        "authentication": "798f13d57b18556b",
        "name": "",
        "deviceId": "valve1",
        "cmd": "power",
        "fmt": "json",
        "qos": "0",
        "retain": "false",
        "x": 890,
        "y": 160,
        "wires": []
    },
    {
        "id": "6240eb6db4c2e144",
        "type": "io7 in",
        "z": "564bee57072d1e51",
        "name": "",
        "deviceId": "thermostat1",
        "authentication": "798f13d57b18556b",
        "evt": "+",
        "fmt": "json",
        "qos": "0",
        "allDevices": false,
        "allEvents": true,
        "allFormats": false,
        "x": 210,
        "y": 340,
        "wires": [
            [
                "47e02b3278e24937",
                "fa91568bdda49290"
            ]
        ]
    },
    {
        "id": "74e1f1bd60b461eb",
        "type": "io7 out",
        "z": "564bee57072d1e51",
        "authentication": "798f13d57b18556b",
        "name": "",
        "deviceId": "thermostat1",
        "cmd": "power",
        "fmt": "json",
        "qos": "0",
        "retain": "false",
        "x": 870,
        "y": 340,
        "wires": []
    },
    {
        "id": "4eb15b446cdfb80d",
        "type": "change",
        "z": "564bee57072d1e51",
        "name": "valve",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d.valve",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 160,
        "wires": [
            [
                "65b79b9a782176dd"
            ]
        ]
    },
    {
        "id": "e42414333e37f64b",
        "type": "change",
        "z": "564bee57072d1e51",
        "name": "valve msg",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"d\" : { \"valve\": msg.payload}}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 160,
        "wires": [
            [
                "ca8e68ad4e467916"
            ]
        ]
    },
    {
        "id": "eb508a87713e70f3",
        "type": "change",
        "z": "564bee57072d1e51",
        "name": "target msg",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"d\" : { \"target\": msg.payload}}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 340,
        "wires": [
            [
                "74e1f1bd60b461eb"
            ]
        ]
    },
    {
        "id": "4fbe822ae10e2cd6",
        "type": "ui-group",
        "name": "Group 1",
        "page": "4fc255cbc82c3e29",
        "width": "4",
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "798f13d57b18556b",
        "type": "io7-hub",
        "name": "",
        "host": "mqtt",
        "useTLS": false,
        "knownPort": true,
        "port": "1883",
        "tls": "",
        "clientid": ""
    },
    {
        "id": "4fc255cbc82c3e29",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "0b8fb0f2e8807515",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "82e83d8b5c80b4f7",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "0b8fb0f2e8807515",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "82e83d8b5c80b4f7",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "d50f4461cc75365d",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.29.0",
            "node-red-contrib-io7": "0.1.8"
        }
    }
]
