flow/Thermostat.json
[
    {
        "id": "564bee57072d1e51",
        "type": "tab",
        "label": "Thermostat",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2a0cd17675ec287f",
        "type": "mqtt out",
        "z": "564bee57072d1e51",
        "name": "valve",
        "topic": "iot3/valve/cmd/power/fmt/json",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "058eb66efff7027a",
        "x": 710,
        "y": 120,
        "wires": []
    },
    {
        "id": "abcd9fb7c294f6cd",
        "type": "mqtt in",
        "z": "564bee57072d1e51",
        "name": "thermostat",
        "topic": "iot3/thermostat/evt/status/fmt/json",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "058eb66efff7027a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 240,
        "wires": [
            [
                "47e02b3278e24937",
                "fa91568bdda49290"
            ]
        ]
    },
    {
        "id": "482353c0ef2c88d4",
        "type": "mqtt out",
        "z": "564bee57072d1e51",
        "name": "thermostat",
        "topic": "iot3/thermostat/cmd/power/fmt/json",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "058eb66efff7027a",
        "x": 730,
        "y": 240,
        "wires": []
    },
    {
        "id": "a623c6895fbb9437",
        "type": "ui_slider",
        "z": "564bee57072d1e51",
        "name": "",
        "label": "target",
        "tooltip": "",
        "group": "78f185e02cacef3a",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "50",
        "step": 1,
        "className": "",
        "x": 390,
        "y": 240,
        "wires": [
            [
                "a75fbf4e41599a21"
            ]
        ]
    },
    {
        "id": "47e02b3278e24937",
        "type": "function",
        "z": "564bee57072d1e51",
        "name": "Parse",
        "func": "if(typeof msg.payload === 'string') msg.payload = JSON.parse(msg.payload);\n\nlet current = {\n    payload : msg.payload.d.temperature\n}\nmsg.payload = msg.payload.d.target;\nreturn [msg, current];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 240,
        "wires": [
            [
                "a623c6895fbb9437"
            ],
            [
                "e728037ee118446b"
            ]
        ]
    },
    {
        "id": "a75fbf4e41599a21",
        "type": "function",
        "z": "564bee57072d1e51",
        "name": "Stringify 2",
        "func": "if(typeof msg.payload === 'string') msg.payload = JSON.parse(msg.payload);\nmsg.payload = {\n    d: { target : msg.payload}\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 240,
        "wires": [
            [
                "482353c0ef2c88d4"
            ]
        ]
    },
    {
        "id": "e728037ee118446b",
        "type": "ui_gauge",
        "z": "564bee57072d1e51",
        "name": "",
        "group": "78f185e02cacef3a",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}°C",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 390,
        "y": 300,
        "wires": []
    },
    {
        "id": "617fc19c7c2dd3e3",
        "type": "mqtt in",
        "z": "564bee57072d1e51",
        "name": "valve",
        "topic": "iot3/valve/evt/status/fmt/json",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "058eb66efff7027a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 120,
        "wires": [
            [
                "c51965c804478af9"
            ]
        ]
    },
    {
        "id": "ba1f80572ba8191e",
        "type": "ui_switch",
        "z": "564bee57072d1e51",
        "name": "",
        "label": "valve",
        "tooltip": "",
        "group": "78f185e02cacef3a",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 390,
        "y": 120,
        "wires": [
            [
                "5a3f93ca282cb0ed"
            ]
        ]
    },
    {
        "id": "5a3f93ca282cb0ed",
        "type": "function",
        "z": "564bee57072d1e51",
        "name": "Stringify",
        "func": "\nmsg.payload = {\n    d: { valve : msg.payload}\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 120,
        "wires": [
            [
                "2a0cd17675ec287f"
            ]
        ]
    },
    {
        "id": "c51965c804478af9",
        "type": "function",
        "z": "564bee57072d1e51",
        "name": "Valve",
        "func": "if(typeof msg.payload === 'string') msg.payload = JSON.parse(msg.payload);\n\nmsg.payload = msg.payload.d.valve;\nreturn  msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 120,
        "wires": [
            [
                "ba1f80572ba8191e"
            ]
        ]
    },
    {
        "id": "fa91568bdda49290",
        "type": "function",
        "z": "564bee57072d1e51",
        "name": "Automate",
        "func": "if (typeof msg.payload === 'string') msg.payload = JSON.parse(msg.payload);\n\nlet evt1 = { d : {}};\n\nif (msg.payload.d.target > msg.payload.d.temperature) {\n    evt1.d.valve = 'on';\n} else {\n    evt1.d.valve = 'off';  \n}\nreturn {payload : evt1};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 180,
        "wires": [
            [
                "2a0cd17675ec287f"
            ]
        ]
    },
    {
        "id": "058eb66efff7027a",
        "type": "mqtt-broker",
        "name": "allApp",
        "broker": "mqtt",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "78f185e02cacef3a",
        "type": "ui_group",
        "name": "Thermostat",
        "tab": "4f3e456c10faa0c5",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4f3e456c10faa0c5",
        "type": "ui_tab",
        "name": "Thermostat",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]