flow/weather.json
[{"id":"375163ac.d5dfe4","type":"inject","z":"98ca5a41.9d7bb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":180,"y":480,"wires":[["e5f84b.34b727b8"]]},{"id":"f4c6af91.38f16","type":"debug","z":"98ca5a41.9d7bb","name":"","active":true,"console":"false","complete":"false","x":590,"y":480,"wires":[]},{"id":"e5f84b.34b727b8","type":"openweathermap","z":"98ca5a41.9d7bb","name":"Mokdong","wtype":"onecall","lon":"126.86148078718259","lat":"37.517643450328855","city":"","country":"","language":"kr","x":340,"y":480,"wires":[["f4c6af91.38f16"]]},{"id":"b338deda.5507d","type":"inject","z":"98ca5a41.9d7bb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":180,"y":220,"wires":[["f1d1ab78.ed733"]]},{"id":"b9d88817.55447","type":"debug","z":"98ca5a41.9d7bb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":180,"wires":[]},{"id":"f1d1ab78.ed733","type":"http request","z":"98ca5a41.9d7bb","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://www.kma.go.kr/wid/queryDFSRSS.jsp?zone=1147062000","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":220,"wires":[["503d1f5a.c7b9b8"]]},{"id":"503d1f5a.c7b9b8","type":"xml","z":"98ca5a41.9d7bb","name":"","property":"payload","attr":"","chr":"","x":510,"y":180,"wires":[["b9d88817.55447"]]},{"id":"2945e51a.05ae32","type":"http request","z":"98ca5a41.9d7bb","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/getVilageFcst?serviceKey=vnqBOK4ssD4yukEQLLPsiNey2b6BHX59H8HVTM7XrmncgKAW3jPxvqwFCprmmPQWesn8FeR4Fdui7GmRwZQWjg%3D%3D&pageNo=1&numOfRows=50&dataType=XML&base_date=20211227&base_time=0500&nx=55&ny=127","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":140,"wires":[["503d1f5a.c7b9b8","97f57912.ad52d8"]]},{"id":"a1dd202d.9a4b08","type":"inject","z":"98ca5a41.9d7bb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":180,"y":620,"wires":[["a7d395f8.f6cfc8"]]},{"id":"32770a32.e2025e","type":"debug","z":"98ca5a41.9d7bb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":600,"wires":[]},{"id":"b60f4a2c.f9f2d","type":"twc-daily-forecast","z":"98ca5a41.9d7bb","name":"","range":"5day","locationtype":"geocode","location":"37.517643450328855,126.86148078718259","lang":"ko-KR","units":"m","apikey":"e4d5be8a.8663a","x":380,"y":580,"wires":[["32770a32.e2025e"]]},{"id":"a7d395f8.f6cfc8","type":"pws-1day-all","z":"98ca5a41.9d7bb","name":"","stationid":"IYANGC5","units":"e","apikey":"e4d5be8a.8663a","x":360,"y":620,"wires":[["32770a32.e2025e"]]},{"id":"2a2e5fc2.3a7bc8","type":"inject","z":"98ca5a41.9d7bb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":580,"wires":[["b60f4a2c.f9f2d"]]},{"id":"b416a8d4.9b024","type":"inject","z":"98ca5a41.9d7bb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":180,"y":140,"wires":[["2945e51a.05ae32"]]},{"id":"97f57912.ad52d8","type":"debug","z":"98ca5a41.9d7bb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":120,"wires":[]},{"id":"ac36cfd3.d9f5b8","type":"function","z":"98ca5a41.9d7bb","name":"","func":"msg.payload = msg.payload.response.body[0].items[0].item[0].category;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":300,"wires":[["29403003.a0bbe8"]]},{"id":"29403003.a0bbe8","type":"debug","z":"98ca5a41.9d7bb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":300,"wires":[]},{"id":"e4d5be8a.8663a","type":"pwsapikey","name":"yhur"}]